.cont-container {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.tasks-container {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.task-container {
	color: #000;
	border-radius: 20px;
	box-shadow:  20px 20px 60px #bebebe,
				-20px -20px 60px #fff;
	margin-bottom: 40px;
	width: 40%;
}

.task-container:hover {
	width: 40.3%;
	transition: 0.1s;
}

.modal-container {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10;
	position: fixed;
	display: none;
}

.align-form {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cancel-btn {
	background-color: #FC4B4B;
	border-color: #FC4B4B;
}


.form {
	box-shadow: none;
}

.from-edit {
	background-color: #fff;
}

.js-filter-form {
	width: 20%;
	margin-bottom: 40px;
}

@media (max-width: 768px) {
	.task-container {
		width: 90%;
	}

	.task-container:hover {
		width: 91%;
		transition: 0.1s;
	}

	.tasks-container {
		display: block;
	}

	.js-filter-form {
		width: 50%;
	}
}

